
<mat-accordion >
    <!-- Trade Importers-->
    <mat-expansion-panel class="explorer-main">
        <mat-expansion-panel-header>
            <mat-panel-title class="exp-title">
              <img src="assets/new_cert_16.png" class="exp-title-icon"> Trade Importers
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let ti of tis" class="exp-item">
            <a [class]="getAdapterClass(ti)"  [routerLink]="['/contents', {outlets: {mainContents: ['adapter',ti.name]}}]" >{{ti.name}}</a>
        </div> 
    </mat-expansion-panel>
    <!-- Interfaces-->    
    <mat-expansion-panel class="explorer-main">
        <mat-expansion-panel-header>
            <mat-panel-title class="exp-title">
                <img src="assets/new_cert_16.png" class="exp-title-icon"> Interfaces
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let intf of ifs" class="exp-item">
            <a [class]="getAdapterClass(intf)"  [routerLink]="['/contents', {outlets: {mainContents: ['adapter',intf.name]}}]">{{intf.name}}</a>
        </div> 
    </mat-expansion-panel>
    <!-- Orders-->    
    <mat-expansion-panel class="explorer-main">
        <mat-expansion-panel-header>
            <mat-panel-title class="exp-title">
                <img src="assets/new_cert_16.png" class="exp-title-icon"> Order
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let od of ods" class="exp-item">
            <a [class]="getAdapterClass(od)" [routerLink]="['/contents', {outlets: {mainContents: ['adapter',od.name]}}]">{{od.name}}</a>
        </div> 
    </mat-expansion-panel>
    <div style="text-align: center;">
        <a style="color:white;" [routerLink]="['/contents', {outlets: {mainContents: ['adapterChanges']}}]"> <button mat-icon-button *ngIf="pendingChanges"><mat-icon>save_alt</mat-icon></button></a>
    </div>
    
    
</mat-accordion>
      
