<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title  class="exp-title">
            <div ><img src="assets/cert_red_16.png" class="exp-title-icon" #certIcon></div>
             
            <div style="padding-left: 20px;top: 4px;position: relative;" contenteditable='false' (keydown)="$event.stopPropagation()" (keypress)="aliasKeyPressed($event)" #certAlias >{{cert.alias}}</div> 
            
            <div style="position: absolute;right:40px;">
                <img src="assets/delete_b_16.png" class="cert-tools-icon" (click)="deleteCert()"> 
                <img src="assets/edit.png"  #editIcon (click)="editCertAlias()" class="cert-tools-icon">
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <table class="certDetailsTable">
            <tr>
                <td class="cert-field-label">Serial Number</td>
                <td>{{cert.serialNumber}}</td>
            </tr>
            <tr>
                <td class="cert-field-label">Expiry Date</td>
                <td>{{cert.expiryDate|date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="cert-field-label">Creation Date</td>
                <td>{{cert.creationDate|date:'yyyy-MM-dd'}}</td>
            </tr>
        
            <tr>
                <td class="cert-field-label">Details</td>
                <td>{{cert.details}}</td>
            </tr>

        </table>
            
</mat-expansion-panel>
