

<form [formGroup]="certForm">
    <table class="newCertTable">
		<tr>
			<td ><mat-form-field >
				<input matInput maxlength="256" placeholder="Alias" formControlName="certAlias" required>
				<mat-icon matSuffix>label</mat-icon>
              </mat-form-field>
			</td>
		</tr>
		<tr #fileDD=appDnd app-Dnd>
			<td>
				<mat-form-field>
					<input matInput  type="text" maxlength="256" placeholder="CertFile"  formControlName="certFile"  required>
					<mat-icon matSuffix>vpn_key</mat-icon>
				</mat-form-field>
			</td>
			<td>
				<input type="file" name="file" id="file" class="inputfile" (change)= "handleDataChange()" (input)= "handleDataChange()" #fileElement />
				<label for="file" #fileDD><mat-icon matSuffix>attachment</mat-icon></label>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="controlsContainer">
				<button mat-icon-button (click)="resetForm()" ><mat-icon>delete_outline</mat-icon></button>
				<button mat-icon-button [disabled]="certForm.invalid" (click)="saveNewCert()" ><mat-icon>save_alt</mat-icon></button>
			</td>

		</tr>
	</table>
   
</form>