
<div *ngIf="showCerts; else ShowCorrupted">
        <h4  [class]="getStoreNameClass()" >{{store.name}}</h4>

        <div class="newCertSection">
                <button mat-icon-button (click)="showNewCert()" ><mat-icon>{{icon}}</mat-icon></button>
        </div>
        <app-new-cert [hidden]="!doShowNewCert" [adapter]="adapter" [store]="store" class="new-cert-cont" #newCertPanel></app-new-cert>

        <div>
                <app-cert-handler *ngFor="let cert of store.keys" [adapter]="adapter" [store]="store" [cert]="cert"></app-cert-handler>
        </div>

</div>
<div style="padding-top: 80px;"></div>

<ng-template #ShowCorrupted>
        <div style="position: relative;top: 20px;height: 100px;">
                <img src="/assets/warning_32.png">
                <div class="big_warning">Corrupted Settings</div>
        </div>
</ng-template>