<div *ngIf="showPage; else ShowEmpty">

<mat-tab-group>
        <!-- Different Adpater modules can be extended here-->
        <mat-tab *ngIf="adapter.keyStore"  [class]="getTabClass(adapter.keyStore)">
            <ng-template mat-tab-label class="tab-title"><img src="assets/keys_16.png" class="tab-title-icon"> Key Store </ng-template>
            <app-keystore-handler [adapter]="adapter" [store]="adapter.keyStore"></app-keystore-handler>
        </mat-tab>
        <mat-tab *ngIf="adapter.trustStore">
                <ng-template mat-tab-label class="tab-title"><img src="assets/keys_16.png" class="tab-title-icon"> Trust Store </ng-template>
                <app-keystore-handler [adapter]="adapter" [store]="adapter.trustStore"></app-keystore-handler>
        </mat-tab>
        
    </mat-tab-group>
</div>

<ng-template #ShowEmpty>
        <div style="position: relative;top: 20px;height: 100px;">
                <img src="/assets/warning_32.png">
                <div class="big_warning">Configuration Line is empty !!</div>
        </div>
</ng-template>